:root {
    --custom_color_main: #5079f7;
    --custom_color_main_dark: #005597;
    --custom_main_bg: #f7f9ff;
    --custom_text_color:#181818cc;
    --custom_green:#16878c;
}

.services
{
    background-color:#f7f9ff;
}

h1,h2,h3,h4,p
{
    font-family: sans-serif !important;
}

/* Header ********************************** */

.header-menu-area {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.header-menu-area .logo img {
    max-height: 4rem !important;
}

.header-menu-area .main-menu > ul > li
{
    margin: 0;
    padding-right: 0.825rem;
    padding-left: 0.825rem;
}

.nav-link.active {
    color: var(--custom_color_main) !important;
    font-weight: bold;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* Hide the off-canvas menu and overlay by default */
.off-canvas-menu, .body-overlay {
    display: none;
}

/* Display the off-canvas menu and overlay only on small screens */
@media (max-width: 768px) {
    .off-canvas-menu, .body-overlay {
        display: block;
    }
}

/* Optionally, hide the overlay and off-canvas menu when they are not active */
.off-canvas-menu.hidden, .body-overlay.hidden {
    display: none;
}


/* Hero ********************************** */

.hero-bg-5
{
    background-color: #f7f9ff;
}

.hero-slider-item:after
{
    background-color: transparent;
}

.hero-bg-5,section img{
    max-width: 100%;
}

.hero-bg-5 .row 
{
    align-items: center;
}

/* Hero Features ********************************** */
.feature-area i
{
    color: var(--custom_color_main);

}


/* Imporant Features ********************************** */
.bg-02 .content i {
    display: block;
    height: 3.75rem;
    width: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.875rem;
    color: var(--custom_color_main);
    background: #f7f9ff;
    margin: 0 0 .625rem 0;
}


/* Services ********************************** */
.services.feature-area i{
    color: white;
}

/* Team ********************************** */
.member-card .card-image .card-img-top
{
    width: 100px;
    height: 100px;
}

/* Blog ********************************** */
.card-text
{
    color: var(--custom_text_color);
}


/* Footer ********************************** */
footer
{
    background-color:   #0d1e67;
    color: white;
}

footer h3
{
    color: white;
}

footer img{
    max-height: 70px;
    margin-bottom: 0.5rem;
}

footer h3
{
    margin-bottom: 0.5em;
}


li {
    list-style: none;
}

footer .wrapper ol li {
    display: inline-block;
    width: 100%;
    margin: .625rem 0;
    position: relative;
    font-size: 1rem;
    color: #fff;
    padding-right: .9375rem;
}

footer .wrapper ol li::before {
    position: absolute;
    content: "";
    right: 0;
    top: .625rem;
    height: .5rem;
    width: .5rem;
    background: #5079f7;
    border-radius: 50%;
}


footer .last-link li
{
    margin: .625rem 0;
}

.copy-right {
    background-color: #0d1e67;
    padding: .625rem 0;
    position: relative;
}

.copy-right .wrapper .content ol li {
    display: inline-block;
    margin: .3125rem .625rem;
    color: #fff;
    font-size: 1rem;
}

.copy-right .wrapper .content span {
    font-size: 1rem;
    color: #fff;
}

footer {
    padding: 3rem 0;
    position: relative;
    background-color: #0d1e67;
    border-bottom: 1px solid #59597e;
}

